*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

header {
  flex-direction: column;
}

.extra {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  background-color: gray;
}

iframe {
  width: 1px;
  min-width: 100%;
}

.dialog {
  position: absolute;
  top: calc(100vh - 500px);
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 150px;
  padding: 1rem;
}
